/* about section */
main {
  display: block;
}
.about-section {
  padding: 1.6rem 2.4rem;
}
.about {
  position: relative;
}

.about span {
  letter-spacing: var(--letter-spacing-1);
  margin-bottom: 3.2rem;
}
.about span::after {
  content: " ";
  width: 95px;
  height: 5px;
  background: hsl(var(--clr-gold));
  position: absolute;
  border-radius: 8px;
  top: 5%;
  left: 1%;
}

.about__facts {
  margin-top: 4.8rem;
}
.about__fact {
  display: flex;
  align-content: center;
  align-items: center;
  padding-bottom: 2rem;
  gap: 2.4rem;
}

.about__facts--img img {
  display: block;
  max-width: 40px;
  border-radius: 20px;
}

.about__fact p {
  display: block;
  font-size: 1.4rem;
  letter-spacing: var(--letter-spacing-2);
}

.dots {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: hsl(var(--clr-gold) / 0.3);
}

/* gallery section */

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  padding: 3.2rem;
}

.gallery-item {
  overflow: hidden;
  object-fit: fill;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

@media (min-width: 50rem) {
  .about-section {
    padding: 3.2rem 2.4rem;
  }

  .about span {
    font-size: 2.2rem;
    letter-spacing: 8px;
  }

  .about span::after {
    content: " ";
    width: 170px;
    height: 5px;
    background: hsl(var(--clr-gold));
    position: absolute;
    border-radius: 8px;
    top: 15%;
    left: 1%;
  }

  .about h2 {
    font-size: 5.6rem;
    font-weight: 500;
    letter-spacing: var(--letter-spacing-1);
    margin-top: 2.4rem;
    text-align: center;
  }

  .about__facts--img img {
    display: block;
    max-width: 50px;
    /* border: 5px solid red; */
    border-radius: 20px;
  }

  .about__facts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about__fact p {
    font-size: 1.8rem;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .gallery-item img {
    max-width: fit;
    height: fit;
  }

  .gallery-img--1 {
    grid-column: 1 / span 2;
  }

  .gallery-img--2 {
    grid-column: 3 / span 2;
  }

  .footer p {
    font-size: 2rem;
  }
}
