/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: 0 0% 0%;
  --clr-purple: 271 56% 33%;
  --clr-gold: 41 98% 57%;
  --clr-medium: 221 23% 58%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 3rem;
  --fs-600: 2rem;
  --fs-500: 1.6rem;
  --fs-400: 1rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-montserrat: "Montserrat", sans-serif;

  /* letter-spacing */
  --letter-spacing-1: 4.75px;
  --letter-spacing-2: 2.7px;
  --letter-spacing-3: 1px;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

/* set up the body */
body {
  font-family: var(--ff-montserrat);
  /* font-size: var(--fs-500); */
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-white));
  line-height: 1.5;
  min-height: 100vh;
  /* margin: 23px 24px 50px 24px; */

  /* display: grid;
  grid-template-rows: min-content 1fr; */

  overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.container {
  width: 100%;
  margin: 24px 0;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-purple {
  background-color: hsl(var(--clr-purple));
}

.bg-gold {
  background-color: hsl(var(--clr-gold));
}

.bg-medium {
  background-color: hsl(var(--clr-medium));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-purple {
  color: hsl(var(--clr-purple));
}
.text-gold {
  color: hsl(var(--clr-gold));
}
.text-medium {
  color: hsl(var(--clr-medium));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-barlow {
  font-family: var(--ff-barlow);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 1px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.mb-1 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* ------------------- */
/* Components         */
/* ------------------- */

/* ------------------- */
/* Header              */
/* ------------------- */
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  gap: 1.5rem;
}
.title {
  display: inline-block;
  font-weight: 900;
}

.logo {
  width: 50px;
  height: 40px;
}

/* navigation */
.navbar {
  background: hsl(var(--clr-dark));
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 1.5rem;
  list-style: none;
  padding: 0.5rem;
  margin: 0;
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 0.5rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
  background-color: transparent;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  color: hsl(var(--clr-white) / 1);
  border-color: hsl(var(--clr-white) / 1);
}

.btn {
  display: inline-block;
  padding: 1.6rem;
  background: hsl(var(--clr-purple));
  border-radius: 8px;
}

.btn:hover,
.btn:focus {
  background: hsl(var(--clr-white));
  transition: all 0.5s ease-in-out;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  margin: 2.4rem 0;
}

/* flip card content */
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 425px;
  margin-bottom: 1.6rem;
}

.flip-card-inner {
  flex-basis: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background: hsl(var(--clr-gold));
  color: black;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 8px;
  margin-bottom: 3.2rem;
}

.flip-card-back {
  background: hsl(var(--clr-purple));
  color: white;
  transform: rotateY(180deg);
  border-radius: 8px;
}

.flip-card-back h2 {
  font-style: italic;
  font-size: 3.2rem;
  margin: 2rem 0;
}

.stats-info p {
  font-size: 2rem;
  padding-top: 1.4rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card__desc {
  padding: 2rem 0;
}

.card__desc h2 {
  font-weight: 500;
  letter-spacing: var(--letter-spacing-1);
}

.card__desc p {
  font-weight: 700;
  letter-spacing: var(--letter-spacing-2);
}

.card-img {
  width: 100%;
  max-width: 350px;
  height: 350px;
  display: block;
  border-radius: 5px 5px 0 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 50rem) {
  .title {
    font-size: 3rem;
  }
  .logo {
    width: 10%;
    height: 10%;
  }

  .primary-navigation {
    justify-content: space-evenly;
    align-items: center;
  }

  .primary-navigation a > span {
    font-size: 1.6rem;
  }
}

@media (min-width: 64rem) {
  .title {
    font-size: 4rem;
  }
  .logo {
    width: 10%;
    height: 10%;
  }

  .card__desc {
    letter-spacing: 0.75px;
  }
}
